---
layout: default
---

<div class="post">
<article class="post-content">

<p>We are a student organization in Computer Engineering and Computer Science at
Virginia Tech founded in Spring 2011 with the goal of encouraging and
expanding the study of cyber security and related fields.
We aim to develop awareness and expertise in all areas of cyber security including physical,
social, hardware, and software.</p>

{% comment %}
  TODO: Make this dynamic from per-semester data we already have.
{% endcomment %}
  
  <p>
  If you would like to speak and present at one of the Thursday meetings, send us an email!
  </p>

  <h1> Interest Forms </h1>
  <p>Get added to our mailing list here: <a href="https://docs.google.com/forms/d/e/1FAIpQLScY_P49ntbWrNVwXFPTQmqAFschX8EXzFJDTyJ552fvh88N6g/viewform?usp=sf_link">here</a>.</p>
  <p>Give input about this semester's meeting times <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaV0pqKCck35El50bYqjNuMMTdhwtiYjDDqwE1S8Nc_7Y54w/viewform?usp=sf_link">here</a>.</p>
  <p>Join our <a href="https://discord.gg/EkB6F8B">discord</a> -- Register on GobblerConnect, then PM an officer.</p>
  <p> 
    Well we may meet in person for smaller/more special events like CTFs, we will be trying to do as much as we can online this semester.
  </p>
  
  <h1> VTCSEC Summit</h1>
  <p>
    We at Virginia Tech host a Capture the Flag Competition each spring. 
    Get more information <a href = "http://vtcsec.org/summit.html">here</a>!
  </p>
  

  <!-- Currently down due to cyberrange migration
<h1> Long-running CTF challenge </h1>
To get started, go to <a href= "https://vtcsec.virginiacyberrange.net" target="_blank">here</a> and make an account. You have to be on the VT network to connect, so either go to campus to work or use the VPN. Have fun!

-->
  
  <h1>Upcoming Meetings</h1>
  <ul class="post-list meeting-list future-only">
    {% assign has_meetings = false %}
    {% for meeting in site.meetings %}
      {% include meeting-data.html %}
      {% if meeting_in_future %}
        {% assign has_meetings = true %}
        <li date="{{ date_iso_8601 }}">
          <h2>
            <a class="post-link" href="{{ meeting.url }}">{{ meeting.what }}</a>
          </h2>
          <span class="post-meta">{% include meeting-fmt.html %}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <p class="no-meetings"{% if has_meetings %} style="display: none;"{% endif %}>
    Details of the next meeting have not been announced yet. Stay tuned!
  </p>

{% comment %}
  <h1>Recent Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
{% endcomment %}
<br>
<br>
</article>

{% comment %}
    Twitter feed
{% endcomment %}
<a class="twitter-timeline" href="https://twitter.com/vtcybsec" data-widget-id="641630189101826048">Tweets by @vtcybsec</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>
