<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        Contact
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="irc://irc.oftc.net/vtcsec">#vtcsec</a> on <a href="http://www.oftc.net/">OFTC</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        On the Web
        <ul class="account-list">
          <!-- icons from https://github.com/adamfairhead/webicons -->
          {% for account in site.data.on_the_web.accounts %}
          <li>
            <a href="{{ account.url }}">
              <img class="icon" src="{{ site.baseurl }}/images/site-{{ account.site | slugify | downcase }}.svg" />
              <span class="username">{% if account.user %}{{ account.user }}{% else %}{{ site.data.on_the_web.default_user }}{% endif %}</span>
            </a> on {{ account.site }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        Sponsors
        <ul class="sponsor-list">
          {% for sponsor in site.data.sponsors %}
          <li>
            <a href="{{ sponsor.url }}">
              <img class="logo" src="{{ site.baseurl }}/images/sponsor-{{ sponsor.name | slugify | downcase }}-tiny.png" />
              <span class="company">{{ sponsor.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

</footer>
