@import 'common.css';

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Inconsolata, monospace;
}

#wrapper {
    width: 75%;
    margin: 12px auto;
}

/* Header {{{ */
header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Jura, sans-serif;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

/* Extra margin for header so navbar doesn't overlap */
@media screen and (max-width: 1250px) {
    header {
        margin-bottom: 12px;
    }
}
/* }}} */

/* Tabs {{{ */
ul#navbar {
    text-align: right;
    margin: 0em 0 0em 0;
    font: 13px Jura, monospace;
    border-bottom: 1px solid #433A4A;
    list-style-type: none;
    padding: 0px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#navbar li {
    display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a {
    background-color: #161616;
    color: #fff;
    position: relative;
    top: 1px;
    padding-top: 4px;
}

ul#navbar li a {
    padding: 3px 4px;
    border: 1px solid #433A4A;
    background-color: #161616;
    color: #fff;
    margin-right: 0px;
    text-decoration: none;
    border-bottom: none;
}

ul#navbar a:hover {
    background: #70373E;
}

ul#navbar a:active,
ul#navbar a.active
{
    background-color: #433A4A;
}

/* }}} */

/* Content {{{ */
#content {
    padding: 10px;
    color: #fff;
    background: #161616;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #433A4A;
}

#content section:not(:last-child) {
    margin-bottom: 24px;
}

/*#content section + section {
    margin-top: 24px;
}*/

#content h1,
#content h2,
#content h3 {
    /* XXX: ugly hack to emulate fit-content on webkit */
    display: table;

    margin: 0;
    padding: 2px;
    max-width: -webkit-fit-content;
    max-width:    -moz-fit-content;
    max-width:         fit-content;
    font-family: Jura, sans-serif;
    text-transform: lowercase;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#content h1:empty,
#content h2:empty,
#content h3:empty {
    display: none;
}

#content h1 {
    font-size: 250%;
    border-bottom: 1px dotted #9BC955;
    color: #9BC955;
    text-transform: uppercase;
}

#content h2 {
    border-top: 1px dotted #9BC955;
    border-bottom: 1px dotted #9BC955;
    color: #9BC955;
    font-size: 200%;
}

#content h3 {
    border-bottom: 1px dotted #CED994;
    border-top: 1px dotted #CED994;
    color: #CED994;
    font-size: 150%;
}

#content p {
    margin-left: 10px;
}

#content a {
    color: #148C64;
    text-decoration: none;
}

#content a:hover {
    color: #105A4F;
}

/* Wargame: scores table {{{ */
table.scores,
table.machines {
    margin: 0;
    border: 1px solid #433A4A;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

table.scores tr > td:first-child,
table.machines tr > td:first-child {
    display: block;
    min-width: 200px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

table.breakdown tr > .truncate {
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 967px) {
    table.breakdown tr > .truncate {
        max-width: 60px;
    }
}

@media (min-width: 968px) {
    table.breakdown tr > .truncate {
        max-width: 300px;
    }
}

table.scores tr:nth-child(odd),
table.machines tr:nth-child(odd) {
    background: #191919;
}

table.scores tr.recent {
    background: #333;
}

table.scores a {
    color: #fff !important;
}

table.scores a:hover {
    color: #999 !important;
}

table.scores th {
    background: #433A4A;
    margin: 0;
    padding: 6px 24px 6px 6px;
    text-align: left;
    font-weight: normal;
}

table.scores td,
table.machines td {
    margin: 0;
    padding: 6px;
}

table.machines tr.dirty td:last-child {
    color: #70373E;
    font-weight: bold;
}

.total_points {
    padding: 4px;
    color: #433A4A;
    font-size: 0.9em;
}
/* }}} */

/* Forms {{{ */
input + label {
    margin-left: 16px;
}

input,
button {
    padding: 4px;
    font-family: Inconsolata, monospace;
}

input,
textarea {
    color: #fff;
    background: transparent;
    border: 1px solid #433A4A;
}

#submitpw textarea {
    display: block;
    margin: 8px 0;
}

button
{
    color: #000;
    background: #433A4A;
    border: 1px solid #433A4A;
    font-weight: bold;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

button:hover
{
    border: 1px solid #000;
}

input:focus,
button:active
{
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
:-moz-placeholder
{
    color: #444;
}

::-webkit-input-placeholder
{
    color: #444;
}
/* }}} */

/* }}} */

/* Flash messages {{{ */
#flash {
    display: none;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    width: 400px;
    border: 1px solid #433A4A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    color: #fff;
    background: #161616;
}
/* }}} */

/* Footer {{{ */
footer {
    text-align: center;
    color:  #70373E;
    padding-top: 5px;
}

footer a {
    color:  #70373E;
    text-decoration: none;
}

footer:after {
    content: "SGFjayB0aGUgUGxhbmV0";
}
/* }}} */
